.about {
    margin-top: -200px;

    /*Tablet*/
    @media (max-width: 1199px) {
        margin-top: 0;
    }

    &__inner {
        padding: 85px 0 90px;
        background-color: #252525;

        /*Tablet*/
        @media (max-width: 1199px) {
            padding: 75px 0 80px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            padding: 55px 0 60px;
        }

        /*Mobile*/
        @media (max-width: 767px) {
            padding: 35px 0 40px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            padding: 25px 0 30px;
        }
    }

    &-title {

        &__wrapper {
            margin-bottom: 60px;
            position: relative;
            z-index: 1;

            /*XS Mobile*/
            @media (max-width: 599px) {
                margin-bottom: 30px;
            }
        }
    }

    &__text {
        color: #a6a6a6;
        line-height: 1.9;
        text-align: center;
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 90px;

        /*Tablet*/
        @media (max-width: 1199px) {
            margin-bottom: 90px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            margin-bottom: 70px;
        }

        /*Mobile*/
        @media (max-width: 767px) {
            max-width: 450px;
            margin-bottom: 50px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            margin-bottom: 30px;
        }
    }
}

.backtext {
    position: absolute;
    line-height: 1.5;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    font-size: 100px;
    z-index: -1;

    /*XS Mobile*/
    @media (max-width: 599px) {
        top: -9px;
        font-size: 80px;
    }
}

.about-slider {
    min-width: 0;
    max-width: 730px;
    margin: 0 auto;
    position: relative;

    /*Big Mobile*/
    @media (max-width: 899px) {
        width: 450px;
    }

    /*XS Mobile*/
    @media (max-width: 599px) {
        width: 290px;
    }

    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 0;
        width: 60px;
        height: 60px;
    }

    & .slick-next {
        right: -110px;
        background-image: url('./../images/about/right.svg');

        /*Tablet*/
        @media (max-width: 1199px) {
            right: -65px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            right: -105px;
        }
    }

    & .slick-prev {
        left: -110px;
        background-image: url('./../images/about/left.svg');

        /*Tablet*/
        @media (max-width: 1199px) {
            left: -65px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            left: -105px;
        }
    }
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    width: 350px;
    height: 270px;
    margin-right: 30px;

    /*Big Mobile*/
    @media (max-width: 899px) {
        width: 450px;
        height: 346px;
    }

    /*XS Mobile*/
    @media (max-width: 599px) {
        width: 290px;
        height: 223px;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}