.recipes {
    padding-top: 90px;
    padding-bottom: 50px;

    /*Tablet*/
    @media (max-width: 1199px) {
        padding-top: 80px;
    }

    /*Big Mobile*/
    @media (max-width: 899px) {
        padding-top: 60px;
    }

    /*Mobile*/
    @media (max-width: 767px) {
        padding-top: 50px;
    }

    /*XS Mobile*/
    @media (max-width: 599px) {
        padding-top: 40px;
    }

    &-title {
        line-height: 3;

        /*XS Mobile*/
        @media (max-width: 599px) {
            line-height: 2;
        }
    }

    &-title__wrapper {
        margin-bottom: 60px;
    }

    &__backtext {
        top: 62px;

        /*Tablet*/
        @media (max-width: 1199px) {
            top: 55px;
        }

        /*Big Mobile*/
        @media (max-width: 899px) {
            top: 33px;
        }

        /*Mobile*/
        @media (max-width: 767px) {
            top: 23px;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            font-size: 60px;
            top: 55px;
        }
    }

    &__item {
        color: #fff;
        border-radius: 6px;
        position: relative;

        &-big {
            padding: 60px 0;
            width: 540px;
            height: 510px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            text-align: center;

            /*Tablet*/
            @media (max-width: 1199px) {
                width: 100%;
            }

            /*XS Mobile*/
            @media (max-width: 599px) {
                width: 290px;

            }

            &:hover {
                opacity: .8;
                cursor: pointer;
            }

            &:hover .recipes__goto {
                display: block;
            }
        }
    }

    &__goto {
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 35px;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        border-radius: 6px;

        /*XS Mobile*/
        @media (max-width: 599px) {
            margin-bottom: 20px;
        }

    }

    &__date {
        margin-bottom: 25px;
    }

    &__descr {
        max-width: 450px;
        margin: 0 auto 45px;
        font-size: 24px;
    }

    &__author {
        margin-bottom: 60px;

        /*XS Mobile*/
        @media (max-width: 599px) {
            margin-bottom: 20px;
        }
    }

    &__status {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        column-gap: 26px;
    }

    &__interact {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }

    &__info {
        display: flex;
        align-items: start;
        column-gap: 20px;

        /*XS Mobile*/
        @media (max-width: 599px) {
            flex-direction: column;
            row-gap: 10px;
        }
    }
}

.recipes__item {

    &-small {
        max-height: 150px;
        overflow: hidden;
        background-color: #252525;
        text-align: left;
        width: 540px;
        padding: 30px 30px 25px;

        /*Tablet*/
        @media (max-width: 1199px) {
            width: 100%;
            max-height: fit-content;
        }

        /*XS Mobile*/
        @media (max-width: 599px) {
            width: 290px;
            padding: 15px;

        }

        & .recipes__descr {
            font-size: 16px;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 0;
            max-height: 50px;
            overflow: hidden;

            /*Tablet*/
            @media (max-width: 1199px) {
                width: 100%;
                max-height: fit-content;
            }
        }

        & .recipes__title {
            font-size: 12px;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 3px;
            margin-bottom: 0;
        }

        & .recipes__date {
            margin-bottom: 0;
        }

        & .recipes__status {
            margin: 0;
            margin-left: auto;

            /*XS Mobile*/
            @media (max-width: 599px) {
                margin: 0;

            }
        }

        &--dinner {
            background-size: cover;
            background-position: center center;
        }

        &--sweets {
            color: #000;
            background-color: $accent-color;
        }
    }
}

.recipes__list {
    display: flex;
    justify-content: space-between;

    /*Tablet*/
    @media (max-width: 1199px) {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

.recipes__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*Tablet*/
    @media (max-width: 1199px) {
        width: 100%;
        row-gap: 40px;
    }

    /*XS Mobile*/
    @media (max-width: 599px) {
        width: 290px;

    }
}