.btn {
    background-color: $accent-color;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
    padding: 0 46px;
    height: 72px;
    border-radius: 43px;
    transition: background-color ease-in .3s, color ease-in .3s;

    &:hover {
        background-color: #268f40;
        color: #fff;
    }
}