.title {
    color: #fff;
}

.section-title {
    margin: 0 auto;
    color: #d9d9d9;
    font-size: 30px;
    line-height: 2;
    font-weight: 400;
    text-align: center;
    position: relative;
    letter-spacing: 0.2em;

    /*XS Mobile*/
    @media (max-width: 599px) {
        max-width: 290px;
    }

    &:before {
        content: "";
        position: absolute;
        background-color: $accent-color;
        width: 60px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;

        /*Big Mobile*/
        @media (max-width: 899px) {
            bottom: -20px;
        }
    }

}