@font-face {
    font-family: "Helvetica";
    src: url("./../fonts/HelveticaRegular.woff"), url("./../fonts/HelveticaRegular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("./../fonts/HelveticaMedium.woff"), url("./../fonts/HelveticaMedium.woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("./../fonts/HelveticaBold.woff"), url("./../fonts/HelveticaBold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}